$spark-breakpoint-mobile: 24.75rem;
$spark-breakpoint-tablet: 50.5rem;
$spark-breakpoint-laptop: 90rem;
$spark-breakpoint-desktop: 120rem;
$cds-spark-theme-spacing-05: to-rem(16px);
$cds-spark-theme-spacing-06: to-rem(24px);
