@use '@carbon/styles/scss/utilities/custom-property' as *;
@use './vars' as *;

// Additional styles that are required only for Angular to have proper styling
@mixin angular-styles {
    .#{$base}-option,
    optgroup.#{$base}-optgroup {
        color: var(--text-primary);
        background-color: var(--layer-01);
    }
    .#{$base}-input--inline__wrapper .#{$base}-input__wrapper .#{$base}-input:not(:disabled) {
        .#{$base}-option,
        optgroup.#{$base}-optgroup {
            color: var(--text-primary);
            background-color: var(--layer-01);
        }
    }
}
