@use '../../utils/utils' as *;

$default-theme-modes: (
    background: (
        #ffffff,
        #f4f5f5,
        #313236,
        #242528
    ),
    background-binary: (
        #ffffff,
        #ffffff,
        #242528,
        #242528
    ),
    background-hover: (
        #e9eaeb,
        #e9eaeb,
        #3c3e42,
        #3c3e42
    ),
    background-active: (
        #c9cace,
        #c9cace,
        #585a62,
        #585a62
    ),
    background-selected: (
        #8d8d8d33,
        #8d8d8d33,
        #8d8d8d3d,
        #8d8d8d3d
    ),
    background-selected-hover: (
        #8d8d8d52,
        #8d8d8d52,
        #8d8d8d52,
        #8d8d8d52
    ),
    background-inverse: (
        #3c3e42,
        #3c3e42,
        #ffffff,
        #ffffff
    ),
    background-inverse-hover: (
        #262626,
        #262626,
        #e9e9e9,
        #e9e9e9
    ),
    background-brand: (
        #0054ae,
        #0054ae,
        #0054ae,
        #0054ae
    )
);

$tb-theme-modes: (
    background: (
        #ffffff,
        #f7f7f8,
        #020316
    ),
    background-binary: (
        #ffffff,
        #ffffff,
        #020316
    ),
    background-hover: (
        #e7e7eb,
        #e7e7eb,
        #1c223b
    ),
    background-active: (
        #bec0cb,
        #bec0cb,
        #555872
    ),
    background-selected: (
        #8d8d8d33,
        #8d8d8d33,
        #8d8d8d3d
    ),
    background-selected-hover: (
        #8d8d8d52,
        #8d8d8d52,
        #8d8d8d52
    ),
    background-inverse: (
        #020316,
        #1c223b,
        #ffffff
    ),
    background-inverse-hover: (
        #383e56,
        #383e56,
        #e7e7eb
    ),
    background-brand: (
        #16cfb1,
        #16cfb1,
        #16cfb1
    )
);

@include create-global-default-theme-modes($default-theme-modes);
@include create-global-tb-theme-modes($tb-theme-modes);
