@use '@carbon/styles/scss/utilities/custom-property' as *;
@use './vars' as *;
@use './properties' as *;

// Additional styles that are required only for Angular to have proper styling
@mixin angular-styles {
    .#{$base} .#{$prefix}--list--nested {
        margin-inline-start: $spark-list-ordered-nested-padding;
    }
    .#{$base} .#{$prefix}--list--nested .#{$prefix}--list__item {
        position: relative;
        list-style-type: lower-latin;
    }
}
