@use '@carbon/styles/scss/utilities/custom-property' as *;
@use './vars' as *;

// Additional styles that are required only for Angular to have proper styling
@mixin angular-styles {
    .#{$prefix}--list-box__field:has(.#{$prefix}--list-box__menu-icon)
        .#{$prefix}--list-box__selection::after {
        display: none;
    }
    .#{$prefix}--list-box__selection--multi {
        --#{$prefix}-background-inverse: #{var(--background-inverse)};
        svg:hover {
            background-color: #{var(--background-inverse)};
        }
    }
    .cds--list-box__menu-item {
        color: var(--text-primary);
        background-color: var(--layer-hover-01);
    }
    .#{$prefix}--dropdown--invalid
        .#{$prefix}--list-box__field:has(.#{$prefix}--list-box__selection)::before {
        right: to-rem(40px);
    }
}
